<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sample</title>
    </head>
    <body>
        <script type='text/javascript' src='https://tableau.mlozo.com/javascripts/api/viz_v1.js'></script>
        <div class='tableauPlaceholder' style='width: 1536px; height: 634px;'>
            <object class='tableauViz' width='1536' height='634' style='display:none;'>
                <param name='name' value='1&#47;1&#47;admin&#47;test' />
                <param name="ticket" value="{{ ticket }}" />
                <param name='host_url' value='https%3A%2F%2Ftableau.mlozo.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='no' />
                <param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />
            </object>
        </div>
    </body>
</html>
